@import "../../global.less";
.MeView {
  ion-content {

    // ME
    section:first-of-type {
      display: flex;
      align-items: center;
      background: #fff;
      font-size: @fontSizeSmall;

      // PROFILE
      header {
        flex: 1;
        h2 {
          font-size: inherit;
          padding: 1em 1em 0;
          margin: 0;
          white-space: nowrap;
          display: flex;
          align-items: center;
          strong {
            font-size: @fontSizeLarger;
            line-height: @fontSizeLarger + 2;
            font-weight: normal;
          }
          a {
            font-size: @fontSizeNano;
            line-height: 1;
            padding: 0.5em;
            color: @grayBtnTextColor;
            background: @grayLighter;
            border-radius: 3px;
            margin-left: 1em;
            &:hover,
            &:active {
              background: @grayLight;
            }
          }
        }
        nav {
          min-height: 1em;  // HACK: h2-padding-bottom
          display: flex;
          a {
            padding: 1em;
            b,
            span {
              display: block;
              text-align: center;
            }
            b {
              color: @darkTextColor;
              font-weight: normal;
              font-size: @fontSizeLarge;
              line-height: @fontSizeLarge + 2;
            }
            span {
              color: @lightTextColor;
              font-size: @fontSizeNano;
              line-height: @fontSizeNano + 2;
              margin-top: 3px;
              white-space: nowrap;
            }
            &:hover,
            &:active {
              b {
                color: @HOVERED_TEXT_COLOR;
              }
              span {
                color: @grayDarker;
              }
            }
          }
        }
      }
      // PROFILE: END

      // AVATAR
      & > :last-child {
        flex: 0 0 4em;
        margin: 1em;
        img {
          display: block;
          width: 100%;
          border-radius: 50%;
        }
      }
    }
    // ME: END

    // LIST
    section:last-of-type ion-list .list ion-item .item-content {
      // padding-top: 0.5em;
      // padding-bottom: 0.5em;
      & > :nth-child(2),
      & > :last-child {
        margin-left: 1em;
      }
      & > :nth-child(2) {
        flex: 1;
        overflow: hidden;
        h3 {
          font-size: @baseFontSize;
          line-height: @baseFontSize + 2;
          margin: 0;
          font-weight: normal;
          color: @darkTextColor;
        }
      }
      & > :last-child {
        time {
          font-size: @fontSizeNano;
          line-height: @fontSizeNano + 2;
          color: @lightTextColor;
          display: block;
          // margin-top: @fontSizeSmall / 2; // HACK
          &:empty {
            display: none;
          }
        }
      }
      &:hover,
      &:active {
        h3 {
          color: @HOVERED_TEXT_COLOR;
        }
      }
    }
    // LIST: END
  }
}