<ion-view class="MeView" ng-controller="MeView as MeCtrl">

  <ion-header-bar>
    <h1 class="title">我</h1>
    <a
        href="#/main/settings"
        class="button">
      <i class="icon icon-cog"></i>
    </a>
  </ion-header-bar>

  <ion-content>

    <ion-refresher pulling-text="下拉以刷新" on-refresh="MeCtrl.refresh()"></ion-refresher>

    <section>

      <header>

        <h2>
          <strong>{{ MeCtrl.ME.name }}</strong>
          <a href="#/main/settings/profile">个人资料</a>
        </h2>

        <nav>
          <a
              ng-href="#/main/me/tasks"
              ng-if="MeCtrl.COUNTERS.tasksCount"
              ng-href=""><b>{{ MeCtrl.COUNTERS.tasksCount }}</b><span>任务</span></a>
          <a
              ng-href="#/main/me/events"
              ng-if="MeCtrl.EVENTS.length"
              ng-href=""><b>{{ MeCtrl.EVENTS.length }}</b><span>日程</span></a>
          <a
              ng-href="#/main/me/favorites"
              ng-if="MeCtrl.COUNTERS.favoritesCount"
              ng-href=""><b>{{ MeCtrl.COUNTERS.favoritesCount }}</b><span>收藏</span></a>
          <a
              ng-href="#/main/me/notes"
              ng-if="MeCtrl.NOTES.length"
              ng-href=""><b>{{ MeCtrl.NOTES.length }}</b><span>笔记</span></a>
        </nav>
      </header>

      <div><img ng-src="{{ MeCtrl.ME.avatarUrl }}" /></div>
    </section>

    <section>

      <ion-list>

        <div
            ng-if="MeCtrl.AFFAIRS[label].length"
            ng-repeat="label in MeCtrl.getLabels()">

          <div class="item item-divider">
            <span>{{ MeCtrl.AFFAIR_DATE_TO_LABEL[label] }}</span>
          </div>

          <ion-item
              ng-repeat="affair in MeCtrl.AFFAIRS[label]"
              ng-href="{{ MeCtrl.getAffairDetailUrl(affair) }}">

            <div class="item-icon"><i ng-class="MeCtrl.typeToIconClass(affair)"></i></div>

            <div>
              <h3>{{ affair.title || affair.content }}</h3>
            </div>

            <div ng-switch="affair.type">
              <time ng-switch-when="task">{{
                  affair.dueDate | formatDate: 'calendar' }}</time>
              <time ng-switch-when="event">{{
                  affair.startDate | eventDateFormat: affair.endDate }}</time>
            </div>
          </ion-item>
        </div>
      </ion-list>
    </section>
  </ion-content>
</ion-view>
