<ion-view
    class="CreatingProjectView"
    ng-controller="CreatingProjectView as CreatingProjectCtrl">

  <ion-header-bar>
    <button
        ng-if="RootCtrl.ionicHistoryHasBackView()"
        ng-click="RootCtrl.ionicHistoryGoBack()"
        class="button">
      <i class="icon icon-chevron-left"></i>
    </button>
    <h1 class="title">创建项目</h1>
    <button
        ng-if="CreatingProjectCtrl.PROJECT.$dirty && CreatingProjectCtrl.PROJECT.$valid"
        ng-click="CreatingProjectCtrl.create()"
        class="button">
      <span>Create</span>
    </button>
  </ion-header-bar>

  <ion-content>

    <form name="CreatingProjectCtrl.PROJECT">

      <label>
        <span>名称</span>
        <input
            placeholder="(必填)"
            ng-model="CreatingProjectCtrl.project.name"
            required
            ng-minlength="2"
            ng-maxlength="40"
            ng-trim="true" />
      </label>

      <label ng-click="CreatingProjectCtrl.showIonicModel('DESCRIPTION')">
        <span>描述</span>
        <span>
          <span>{{ CreatingProjectCtrl.project.description }}</span>
          <i class="icon icon-chevron-right"></i>
        </span>
      </label>

      <label ng-click="CreatingProjectCtrl.showIonicModel('ORGANIZATION')">
        <span>所有者</span>
        <span>
          <span>{{ CreatingProjectCtrl.organization.name || '个人项目' }}</span>
          <i class="icon icon-chevron-right"></i>
        </span>
      </label>

      <label ng-click="CreatingProjectCtrl.showIonicModel('VISIBILITY')">
        <span>可见性</span>
        <span>
          <span>{{ CreatingProjectCtrl.VISIBILITIES[CreatingProjectCtrl.project.visibility || 'project'] }}</span>
          <i class="icon icon-chevron-right"></i>
        </span>
      </label>
    </form>
  </ion-content>
</ion-view>
