// Global reference
@import "../../global.less";
.CreatingProjectView {
  ion-content .scroll {
    font-size: @fontSizeSmall;
    padding: 2em 0;
    form {
      background: #fff;
      & > label {
        font-size: inherit;
        padding: 0 1em;
        display: flex;
        align-items: center;
        border-top: 1px solid @DIVIDER_COLOR;
        &:first-child {
          border: 0;
        }
        & > :first-child {
          color: @grayTextColor;
          margin-right: 1em;
          line-height: 1;
        }
        & > :last-child {
          flex: 1;
          text-align: right;
          border: 0;
          padding: 0;
          font-size: inherit;
          line-height: 3;
          height: 3em;
          color: @darkTextColor;
        }
        & > span:last-child {
          display: flex;
          align-items: center;
          overflow: hidden;
          span {
            line-height: inherit;
            flex: 1;
            .ELLIPSIS;
          }
          .icon {
            font-size: @ICON_FONT_SIZE;
            line-height: 1;
            margin-left: 1em;
          }
        }
      }
    }
  }
}
.CreatingProjectOrganizationModalView,
.CreatingProjectVisibilityModalView {
  ion-list .list {
    padding: 2em 0;
    .radio-content {
      padding: 1em;
      background: #fff;
      display: flex;
      align-items: center;
      .item-content {
        background: inherit;
        padding: 0;
        flex: 1;
        span {
          line-height: 1;
        }
      }
      .radio-icon {
        position: static;
        padding: 0;
        height: auto;
        font-size: 10px;
        line-height: 1;
        &::before {
          font-size: inherit;
          color: @blue;
          display: block;
        }
      }
    }
  }
}
.CreatingProjectDescriptionModalView {
  .scroll {
    font-size: @fontSizeSmall;
    padding: 2em 0;
    textarea {
      font-size: inherit;
      line-height: @fontSizeSmall + 2;
      padding: 1em;
      width: 100%;
      height: 10em;
      resize: vertical;
    }
  }
}