<ion-view class="SettingPasswordView" ng-controller="SettingPasswordView as SettingPasswordCtrl">

  <ion-header-bar>
    <button
        ng-if="RootCtrl.ionicHistoryHasBackView()"
        ng-click="RootCtrl.ionicHistoryGoBack()"
        class="button button-clear">
      <i class="icon icon-chevron-left"></i>
      <!-- <span>Back</span> -->
    </button>
    <h1 class="title">密码修改</h1>
    <button
        ng-if="SettingPasswordCtrl.PASSWORDS.$dirty"
        ng-click="SettingPasswordCtrl.save()"
        class="button button-clear">
      <span>Save</span>
    </button>
  </ion-header-bar>

  <ion-content>

    <form name="SettingPasswordCtrl.PASSWORDS">

      <label>
        <span>当前密码</span>
        <input type="password" ng-model="SettingPasswordCtrl.passwords.oldPassword" required />
      </label>

      <label>
        <span>新密码</span>
        <input type="password" ng-model="SettingPasswordCtrl.passwords.password1" required />
      </label>

      <label>
        <span>验证新密码</span>
        <input type="password" ng-model="SettingPasswordCtrl.passwords.password2" required />
      </label>
    </form>
  </ion-content>
</ion-view>
