@import "../../global.less";
.InboxView {
  ion-list .list ion-item {
    .item-content {

      // AVATAR
      & > .item-avatar {
        margin-right: 1em;
      }

      // MESSAGE
      & > :nth-child(2) {
        flex: 1;
        overflow: hidden;
        & > div {
          display: flex;
          align-items: center;
        }

        // TITLE
        & > :first-child {
          h3 {
            flex: 1;
            margin: 0;
            font-weight: normal;
            color: @darkTextColor;
            font-size: @baseFontSize;
            line-height: @baseFontSize + 2;
          }
          span {
            font-size: @fontSizeMini;
            line-height: 1;
            padding: 2px 4px 1px;
            border-radius: @fontSizeMini + 2 + 1;
            margin-left: 1em;
            background: @blue;
            color: #fff;
          }
        }

        // CONTENT & LABEL
        & > :nth-child(2),
        & > :last-child {
          font-size: @fontSizeNano;
          line-height: @fontSizeNano + 2;
          margin-top: @fontSizeSmall / 2;
          color: @lightTextColor;
          .ICON;
          .icon {
            margin-right: 0.5em;
          }
          span {
            flex: 1;
            .ELLIPSIS;
          }
          time {
            margin-left: 1em;
          }
        }
      }
      // MESSAGE: END
      &:hover,
      &:active {
        & > :nth-child(2) {
          & > :first-child h3 {
            color: @HOVERED_TEXT_COLOR;
          }
          & > :nth-child(2):not(:last-child) {
            .icon,
            span {
              color: @grayDarker;
            }
          }
        }
      }
    }
    &.READ {
      .item-content {
        & > :nth-child(2) {
          & > :first-child h3,
          & > :nth-child(2) {
            color: @lightTextColor;
          }
        }
        &:hover,
        &:active {
          & > :nth-child(2) {
            & > :first-child h3 {
              color: darken(@lightTextColor, 10%);
            }
            & > :nth-child(2):not(:last-child) {
              .icon,
              span {
                color: darken(@lightTextColor, 10%);
              }
            }
          }
        }
      }
    }
  }
}