<ion-view class="InboxView" ng-controller="InboxView as InboxCtrl">

  <ion-header-bar>
    <h1 class="title">收件箱</h1>
    <button
        ng-click="InboxCtrl.popupIonicActionSheet()"
        class="button">
      <i class="icon icon-more"></i>
    </button>
  </ion-header-bar>

  <ion-content>

    <ion-refresher pulling-text="下拉以刷新" on-refresh="InboxCtrl.refresh()"></ion-refresher>

    <ion-list>

      <ion-item
          ng-repeat="message in InboxCtrl.getMessages()"
          class="item-avatar"
          ng-class="{ READ: InboxCtrl.isReadMessage($index) }"
          ng-href="{{ InboxCtrl.getMessageDetailUrl($index) }}"
          ng-click="InboxCtrl.markMessageRead($index)">

        <div class="item-avatar">
          <img ng-src="{{ message.creator.avatarUrl }}" />
        </div>

        <div>

          <div>
            <h3>{{ message.creator.name + ' ' + message.title }}</h3>
            <span ng-if="message.unreadActivitiesCount">{{
              message.unreadActivitiesCount }}</span>
          </div>

          <div>
            <i class="icon" ng-class="InboxCtrl.typeToIconClass($index)"></i>
            <span>{{ message.subtitle }}</span>
            <time
              ng-if="!message.project.name.trim()">{{
              message.updated | formatDate: 'calendar' }}</time>
          </div>

          <div ng-if="message.project.name.trim()">
            <span>#{{
              message.project.name.trim() }}</span>
            <time>{{ message.updated | formatDate: 'calendar' }}</time>
          </div>
        </div>

        <ion-option-button ng-click="InboxCtrl.removeMessage($index)">删除</ion-option-button>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
        on-infinite="InboxCtrl.doInfiniteLoading()"
        ng-if="InboxCtrl.canLoadMore()"></ion-infinite-scroll>
  </ion-content>
</ion-view>
