@import "../../../global.less";
.SettingProfileView {
  ion-content .scroll {
    font-size: @fontSizeSmall;
    padding: 2em 0;
    form {
      background: #fff;
      & > header {
        display: flex;
        align-items: center;
        padding: 1em;
        & > :first-child {
          flex: 0 0 4em;
          margin-right: 1em;
          img {
            display: block;
            width: 100%;
            border-radius: 50%;
          }
        }
        & > :last-child {
          overflow: hidden;
          h2 {
            font-size: @baseFontSize;
            line-height: @baseFontSize + 2;
            color: @grayDarker;
            font-weight: normal;
            margin: 0;
            .ELLIPSIS;
          }
          div {
            font-size: @fontSizeSmall;
            line-height: @fontSizeSmall + 2;
            color: @grayDark;
            text-transform: lowercase;
            margin-top: 0.5em;
          }
        }
      }
      & > label {
        font-size: @fontSizeSmall;
        padding: 1em;
        border-top: 1px solid @DIVIDER_COLOR;
        display: flex;
        align-items: center;
        span:first-child {
          color: @grayTextColor;
          margin-right: 1em;
          line-height: 1;
        }
        span:nth-child(2),
        input:nth-child(3) {
          flex: 1;
          text-align: right;
          border: 0;
          padding: 0;
          font-size: @baseFontSize;
          line-height: @baseFontSize + 2;
          height: @baseFontSize + 2;  // HACK: input[type="number"]
        }
        span:nth-child(2) {
          .ELLIPSIS;
        }
        input:nth-child(3) {
          display: none;
        }
      }
    }
  }
  ion-content.editing .scroll label {
    span:nth-child(2) {
      display: none;
    }
    input:nth-child(3) {
      display: block;
    }
  }
}