<ion-view class="InvitionView" ng-controller="InvitionView as InvitionCtrl">

  <ion-header-bar>
    <button
        ng-if="RootCtrl.ionicHistoryHasBackView()"
        ng-click="RootCtrl.ionicHistoryGoBack()"
        class="button button-clear">
      <i class="icon icon-chevron-left"></i>
      <!-- <span>Back</span> -->
    </button>
    <h1 class="title">系统消息</h1>
  </ion-header-bar>

  <ion-content>

    <a ng-href="{{ InvitionCtrl.getDetailUrl() }}">

      <div>
        <img ng-src="{{ InvitionCtrl.MESSAGE.creator.avatarUrl }}" />
        <span><strong>{{ InvitionCtrl.MESSAGE.creator.name }}</strong>{{
          InvitionCtrl.MESSAGE.title
        }}</span>
      </div>

      <div ng-if="InvitionCtrl.MESSAGE.project.logo || InvitionCtrl.MESSAGE.organization.logo">
        <img ng-src="{{
          InvitionCtrl.MESSAGE.project.logo ||
          InvitionCtrl.MESSAGE.organization.logo }}" />
      </div>

      <div>
        <span>{{
          InvitionCtrl.MESSAGE.project.name ||
          InvitionCtrl.MESSAGE.organization.name }}</span>
        <i class="icon icon-chevron-right"></i>
      </div>
    </a>
  </ion-content>
</ion-view>
