<ion-view class="ProjectListView" ng-controller="ProjectListView as ProjectListCtrl">

  <ion-header-bar>
    <label>
      <i class="icon ion-ios-search"></i>
      <input type="search" placeholder="查找项目" ng-model="ProjectListCtrl.keyword" ng-change="ProjectListCtrl.search(ProjectListCtrl.keyword)">
    </label>
    <a href="#/creating/project" class="button">
      <i class="icon icon-plus"></i>
    </a>
  </ion-header-bar>

  <ion-content>

    <ion-list>

      <section ng-if="ProjectListCtrl.PROJECTS[label].length" ng-repeat="label in ProjectListCtrl.getLabels()">

        <div class="item item-divider">
          <span>{{ ProjectListCtrl.PROJECT_TYPE_TO_LABEL[label] }}</span>
        </div>

        <ion-item ng-repeat="project in ProjectListCtrl.PROJECTS[label]" ng-href="#/project/{{ project._id }}/home">

          <div ng-if="project.logo" class="item-avatar"><img ng-src="{{ project.logo }}" /></div>

          <div>
            <h3>{{ project.name }}</h3>
          </div>

          <ion-option-button class="project-item-more" on-tap="ProjectListCtrl.showMore(project)">更多</ion-option-button>
          <ion-option-button class="project-item-star" on-tap="ProjectListCtrl.starProject(project)" ng-hide="project.isStar">星标项目</ion-option-button>
          <ion-option-button class="project-item-star" on-tap="ProjectListCtrl.unStarProject(project)" ng-show="project.isStar">取消星标</ion-option-button>
        </ion-item>
      </section>
    </ion-list>
  </ion-content>
</ion-view>