@import "../../global.less";
.OrganizationView {
  ion-content > .scroll {
    font-size: @fontSizeSmall;
    padding: 1em;
    main {
      background: #fff;
      section {
        display: flex;
        align-items: center;
        &:first-child {
          padding: 1em;
          border-bottom: 1px solid @DIVIDER_COLOR;
          img {
            height: 3em;
            margin-right: 1em;
          }
          h3 {
            flex: 1;
            font-size: @baseFontSize;
            line-height: @baseFontSize + 2;
            color: @black;
            font-weight: normal;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        &:last-child {
          & > div {
            flex: 1;
            text-align: center;
            border-left: 1px solid @DIVIDER_COLOR;
            padding: 0.5em;
            &:first-child {
              border: 0;
            }
            span {
              font-size: @fontSizeNano;
              line-height: @fontSizeNano + 2;
              color: @lightTextColor;
              display: block;
            }
            & > div {
              margin-top: 0.5em;
              display: flex;
              align-items: center;
              justify-content: center;
              strong {
                font-weight: normal;
                font-size: @baseFontSize;
                line-height: @baseFontSize + 2;
                color: @darkTextColor;
              }
              span {
                margin-left: @fontSizeSmall / 2;
              }
            }
          }
        }
      }
    }
  }
}