<ion-view class="OrganizationView" ng-controller="OrganizationView as Ctrl">

  <ion-header-bar>
    <button
        ng-if="RootCtrl.ionicHistoryHasBackView()"
        ng-click="RootCtrl.ionicHistoryGoBack()"
        class="button button-clear">
      <i class="icon icon-chevron-left"></i>
      <!-- <span>Back</span> -->
    </button>
    <h1 class="title">我的企业</h1>
  </ion-header-bar>

  <ion-content>

    <main>

      <section>
        <img
            ng-if="Ctrl.ORGANIZATION.logo"
            ng-src="{{ Ctrl.ORGANIZATION.logo }}" />
        <h3>{{ Ctrl.ORGANIZATION.name }}</h3>
      </section>

      <section>

        <div>
          <span>项目</span>
          <div>
            <strong>{{ Ctrl.getCount('PROJECT') }}</strong>
            <span>{{ Ctrl.getTrend('PROJECT') }}</span>
          </div>
        </div>

        <div>
          <span>成员</span>
          <div>
            <strong>{{ Ctrl.getCount('MEMBER') }}</strong>
            <span>{{ Ctrl.getTrend('MEMBER') }}</span>
          </div>
        </div>

        <div>
          <span>活跃度</span>
          <div>
            <strong>{{ Ctrl.getCount('ACTIVENESS') }}</strong>
            <span>{{ Ctrl.getTrend('ACTIVENESS') }}</span>
          </div>
        </div>
      </section>
    </main>
  </ion-content>
</ion-view>
