@import "../../../global.less";
.MyTaskListView {
  ion-list.UNFULFILLED .list,
  ion-list.FULFILLED .list,
  ion-list.FOLLOWING .list,
  ion-list.CREATING .list {
    ion-item .item-content {
      & > .item-icon {
        margin-right: 1em;
        .icon.notAssignedToMe {
          color: @grayLight;
        }
      }
      & > :nth-child(2) {
        flex: 1;
        overflow: hidden;
        h3 {
          font-size: @baseFontSize;
          line-height: @baseFontSize + 2;
          font-weight: normal;
          margin: 0;
          color: @darkTextColor;
        }
      }
      & > :nth-child(2),
      & > :nth-child(3) {
        time {
          font-size: @fontSizeNano;
          line-height: @fontSizeNano + 2;
          color: @lightTextColor;
          display: block;
          margin-top: @fontSizeSmall / 2;
          &:empty {
            display: none;
          }
        }
      }
      & > :nth-child(3) {
        time {
          margin: 0;
        }
        margin-left: 1em;
      }
      &:hover,
      &:active {
        & > :nth-child(2) h3 {
          color: @HOVERED_TEXT_COLOR;
        }
      }
    }
  }
  ion-list.UNFULFILLED .list ion-item .item-content > :nth-child(2) time {
    color: @blue; // REVIEW
  }
}