<ion-view class="MyTaskListView" ng-controller="MyTaskListView as MyTaskListCtrl">

  <ion-header-bar>
    <button
        ng-if="RootCtrl.ionicHistoryHasBackView()"
        ng-click="RootCtrl.ionicHistoryGoBack()"
        class="button button-clear">
      <i class="icon icon-chevron-left"></i>
      <!-- <span>Back</span> -->
    </button>
    <h1 class="title">{{ MyTaskListCtrl.TASK_TYPE_TO_TITLE[MyTaskListCtrl.TASK_TYPE] }}</h1>
    <button
        ng-click="MyTaskListCtrl.popupIonicActionSheet()"
        class="button button-clear">
      <i class="icon icon-more"></i>
    </button>
  </ion-header-bar>

  <ion-content>

    <!-- 未完成的任务 -->
    <ion-list ng-if="MyTaskListCtrl.TASK_TYPE === 'UNFULFILLED'" ng-class="MyTaskListCtrl.TASK_TYPE">

      <ion-item
          ng-repeat="task in MyTaskListCtrl.TASKS[MyTaskListCtrl.TASK_TYPE]"
          ng-href="#/detail/task/{{ task._id }}">

        <div class="item-icon"><i class="icon icon-checkbox-thin"></i></div>

        <div>
          <h3>{{ task.content }}</h3>
        </div>

        <div>
          <time>{{ task.dueDate | formatDate: 'calendar' }}</time>
        </div>
      </ion-item>
    </ion-list>

    <!-- 已完成的任务 -->
    <ion-list ng-if="MyTaskListCtrl.TASK_TYPE === 'FULFILLED'" ng-class="MyTaskListCtrl.TASK_TYPE">

      <ion-item
          ng-repeat="task in MyTaskListCtrl.TASKS[MyTaskListCtrl.TASK_TYPE]"
          ng-href="#/detail/task/{{ task._id }}">

        <div class="item-icon"><i class="icon icon-checkbox-ios-checked"></i></div>

        <div>
          <h3>{{ task.content }}</h3>
        </div>

        <div>
          <time>{{ task.accomplished | formatDate: 'calendar' }}</time>
        </div>
      </ion-item>
    </ion-list>

    <!-- 我参与的任务 -->
    <ion-list ng-if="MyTaskListCtrl.TASK_TYPE === 'FOLLOWING'" ng-class="MyTaskListCtrl.TASK_TYPE">

      <ion-item
          ng-repeat="task in MyTaskListCtrl.TASKS[MyTaskListCtrl.TASK_TYPE]"
          ng-href="#/detail/task/{{ task._id }}">

        <div class="item-icon"><i
            class="icon icon-checkbox-thin"
            ng-class="{
              notAssignedToMe: MyTaskListCtrl._id !== task.executor._id &&
                MyTaskListCtrl._id !== task._creatorId
            }"></i></div>

        <div>
          <h3>{{ task.content }}</h3>
          <time>{{ task.dueDate | formatDate: 'calendar' }}</time>
        </div>

        <div class="item-avatar">
          <img ng-src="{{ task.executor.avatarUrl }}" />
        </div>
      </ion-item>
    </ion-list>

    <!-- 我创建的任务 -->
    <ion-list ng-if="MyTaskListCtrl.TASK_TYPE === 'CREATING'" ng-class="MyTaskListCtrl.TASK_TYPE">

      <ion-item
          ng-repeat="task in MyTaskListCtrl.TASKS[MyTaskListCtrl.TASK_TYPE]"
          ng-href="#/detail/task/{{ task._id }}">

        <div class="item-icon"><i
            class="icon"
            ng-class="{
              'icon-checkbox-thin': !task.isDone,
              'icon-checkbox-ios-checked':  task.isDone
            }"></i></div>

        <div>
          <h3>{{ task.content }}</h3>
          <time>{{ task.dueDate | formatDate: 'calendar' }}</time>
        </div>

        <div class="item-avatar">
          <img ng-src="{{ task.executor.avatarUrl }}" />
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
