<ion-view class="SettingNotificationView" ng-controller="SettingNotificationView as SettingNotificationCtrl">

  <ion-header-bar>
    <button
        ng-if="RootCtrl.ionicHistoryHasBackView()"
        ng-click="RootCtrl.ionicHistoryGoBack()"
        class="button button-clear">
      <i class="icon icon-chevron-left"></i>
      <!-- <span>Back</span> -->
    </button>
    <h1 class="title">通知设置</h1>
    <button
        ng-if="SettingNotificationCtrl.NOTIFICATIONS.$dirty"
        ng-click="SettingNotificationCtrl.save()"
        class="button button-clear">
      <span>Save</span>
    </button>
  </ion-header-bar>

  <ion-content>

    <form name="SettingNotificationCtrl.NOTIFICATIONS">
      <table>
        <thead>
          <tr>
            <th><span>通知</span></th>
            <th><span>电子邮件</span></th>
            <th><span>移动客户端</span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="name in SettingNotificationCtrl.getNames()">
            <td><span>{{ SettingNotificationCtrl.LABELS[name] }}</span></td>
            <td>
              <label class="toggle-button">
                <input
                    type="checkbox"
                    ng-model="SettingNotificationCtrl.notifications[name].email"
                    value="{{ !!SettingNotificationCtrl.notifications[name].email }}"
                    ng-checked="SettingNotificationCtrl.notifications[name].email" />
                <i></i><i></i>
              </label>
            </td>
            <td>
              <label
                  ng-if="SettingNotificationCtrl.exist(SettingNotificationCtrl.notifications[name], 'mobile')"
                  class="toggle-button">
                <input
                    type="checkbox"
                    ng-model="SettingNotificationCtrl.notifications[name].mobile"
                    value="{{ !!SettingNotificationCtrl.notifications[name].mobile }}"
                    ng-checked="SettingNotificationCtrl.notifications[name].mobile" />
                <i></i><i></i>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </ion-content>
</ion-view>
