<ion-modal-view class="MyNoteDetailModalView">

  <ion-header-bar>
    <button
        ng-click="MyNoteListCtrl.hideIonicModel()"
        class="button button-clear">
      <i class="icon icon-chevron-left"></i>
    </button>
    <h1 class="title">笔记详情</h1>
    <button
        ng-click="MyNoteListCtrl.editOrCancelOrSave()"
        class="button button-clear">{{
            MyNoteListCtrl.editing ? (MyNoteListCtrl.NOTE.$dirty ? 'Save' : 'Cancel') : 'Edit'
        }}</button>
  </ion-header-bar>

  <ion-content>

    <form name="MyNoteListCtrl.NOTE" ng-class="{editing: MyNoteListCtrl.editing}">

      <label>
        <span>{{ MyNoteListCtrl.note.title }}</span>
        <input
            ng-model="MyNoteListCtrl.note.title"
            ng-trim="true"
            required
            placeholder="笔记标题" />

      </label>

      <label>
        <div>{{ MyNoteListCtrl.note.content }}</div>
        <textarea
            ng-model="MyNoteListCtrl.note.content"
            ng-trim="true"
            required
            placeholder="笔记内容"></textarea>
      </label>
    </form>
  </ion-content>
</ion-modal-view>
