@import "../../global.less";
.SettingListView {
  ion-content .scroll {
    font-size: @fontSizeSmall;
    padding: 2em 0;
    a {
      line-height: 1;
      padding: 1em;
      border-bottom: 1px solid @DIVIDER_COLOR;
      &:last-child {
        border: 0;
      }
    }
    nav,
    & > a {
      margin-top: 2em;
      background: #fff;
      display: block;
      &:first-child {
        margin: 0;
      }
    }
    nav a {
      display: flex;
      align-items: center;
      & > :first-child {
        color: @darkTextColor;
        flex: 1;
        span {
          display: block;
          &:last-child:not(:first-child) {
            color: @lightTextColor;
            font-size: @fontSizeNano;
            margin-top: 0.5em;
          }
        }
      }
      & > :last-child {
        color: @lightTextColor;
        span {
          font-size: @fontSizeNano;
          display: inline-block;
        }
        .icon {
          font-size: @ICON_FONT_SIZE;
        }
      }
    }
    & > a {
      text-align: center;
      color: @red;
    }
  }
}